<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean id="theElderScroll" class="com.evilisn.springInAction4.c2.autoconfiguration.soundsystem.Disks.TheElderScroll"/>-->
    <!--<bean class="com.evilisn.springInAction4.c2.autoconfiguration.soundsystem.Devices.PlayStation4" c:cd-ref="theElderScroll"/>-->
    <bean id="blank" class="com.evilisn.springInAction4.c2.autoconfiguration.soundsystem.Disks.BlankDisk" >
        <constructor-arg index="0" value="Fame Monster"/>
        <constructor-arg index="1" value="Lady Gaga"/>
        <constructor-arg index="2">
            <list>
                <value>Er,Er.</value>
                <value>Pocker Face</value>
                <value>Love Game</value>
            </list>
        </constructor-arg>
    </bean>
</beans>